#container {
	background-color: #E6E6E6;
	width: 645px;
	padding: 13px;
	margin: auto;
}

header {
	background-color: red;
	padding: 20px 30px;
	margin-bottom: 13px;
}

header h1 {
	font-family: "Helvetica Neue", Times, Arial;
	color: white;
	font-size: 96px;
	font-weight: lighter;
	margin: 0px;
}

img {
	border: 10px #C0C0C0 solid;
	margin-bottom: 13px;
}

#boxes > #left {
	float: left;
	width: 236px;
	height: 190px;
	padding: 40px;
	background-color: red;
}

#boxes > #right {
	float: right;
	width: 236px;
	height: 190px;
	padding: 40px;
	background-color: #7F7F7F;
}

#boxes:after {
	content: "";
	display: block;
	clear: both;
}

#left > p {
	font-family: "Helvetica Neue", Arial, Serif;
	font-size: 48px;
	margin: 0px;
	color: white;
	font-weight: 100;
}

#left > p span {
	font-size: 70px;
	font-weight: 200;
}

#right > p {
	font-family: Georgia, Arial, Serif;
	font-size: 14px;
	color: #E6E6E6;
	line-height: 20px;
}

#right > address {
	font-family: "Helvetica Neue", Arial, Serif;
	color: #E6E6E6;
	font-style: normal;

}





